<h1 align="center">ðŸ’¾benchmark_pandas_dask </h1>

In [ ]:
import pandas as pd
import dask.dataframe as dd

# Exemple : crÃ©er un DataFrame Pandas
df_pandas = pd.DataFrame({
    'A': range(10**6),
    'B': range(10**6, 2*10**6)
})


df_dask = dd.from_pandas(df_pandas, npartitions=4)

In [2]:
df_pandas

             A        B
0            0  1000000
1            1  1000001
2            2  1000002
3            3  1000003
4            4  1000004
...        ...      ...
999995  999995  1999995
999996  999996  1999996
999997  999997  1999997
999998  999998  1999998
999999  999999  1999999

[1000000 rows x 2 columns]

In [3]:
df_dask.compute()

             A        B
0            0  1000000
1            1  1000001
2            2  1000002
3            3  1000003
4            4  1000004
...        ...      ...
999995  999995  1999995
999996  999996  1999996
999997  999997  1999997
999998  999998  1999998
999999  999999  1999999

[1000000 rows x 2 columns]

In [4]:
# Pandas - calcul de la somme
%timeit df_pandas['A'].sum()

490 Î¼s Â± 91.6 Î¼s per loop (mean Â± std. dev. of 7 runs, 1,000 loops each)

In [ ]:
# Dask - calcul de la somme (attention, Dask est paresseux, il faut appeler .compute())
%timeit df_dask['A'].sum().compute()